doctype html
html
  head
    meta(charset="utf-8")
    title= word
    script(src="jquery.js")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(type="text/javascript" src="paper-full.js")
    script(type="text/javascript" src="grahamScan.js")
  body

    #lists
      #syns
        #syntitle 
          p(id=1) SYNONYMES 
        #synlist
      #cliques
        #clititle 
          p CLIQUES DE :
          #clispan
        #clilist
    
      button#helpbutton
        | ?
      
      #Checkboxes
        #Showcli
          | Montrer les Cliques : 
          input#showcli(type="checkbox")
        #Showalllinks
          | Montrer tout les Liens : 
          input#showalllink(type="checkbox")
        #ShowallAreas
          | Montrer toutes les Enveloppes :
          input#showallAreas(type="checkbox")
        #ShowAreas
          | Montrer les Enveloppes :
          input#showAreas(type="checkbox")

    canvas#canvas(resize="true")
    select#axe1
      option(value="0" selected="") 1
      option(value="1") 2
      option(value="2") 3
      option(value="3") 4
      option(value="4") 5
      option(value="5") 6
    select#axe2
      option(value="0") 1
      option(value="1" selected="") 2
      option(value="2") 3
      option(value="3") 4
      option(value="4") 5
      option(value="5") 6

    button#zoomIn
    button#zoomOut
    button#resetView
    button#helpbutton
        | ?

    #motvedette 
      p Rechercher un mot :
      input#word(type="text" value= word)
    
      
    
    #help
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non fermentum velit, sit amet tristique metus. Nullam quis imperdiet orci, a congue velit. 
    script(type="text/javascript" src="espsemClient.js")
