doctype html
html
  head
    meta(charset="utf-8")
    title= word
    script(src="jquery.js")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(type="text/javascript" src="paper-full.js")
    script(type="text/javascript" src="grahamScan.js")
  body
    #lists
      #syns
        #syntitle 
          p(id=1) SYNONYMES 
        #synlist
      #cliques
        #clititle 
          p CLIQUES DE :
          #clispan
        #clilist
    #ui
      #Select
        #SelectXAxis
          | Axe Horizontal : 
          select#axe1
            option(value="0" selected="") 1
            option(value="1") 2
            option(value="2") 3
            option(value="3") 4
            option(value="4") 5
            option(value="5") 6
        #SelectYAxis
          | Axe Vertical :
          select#axe2
            option(value="0") 1
            option(value="1" selected="") 2
            option(value="2") 3
            option(value="3") 4
            option(value="4") 5
            option(value="5") 6
        #SelectTool
          | Navigation :
          select#Tool
            option(value="none" selected="") aucun
            option(value="zoomIn") zoomer
            option(value="zoomOut") dézoomer
            option(value="Move") déplacer
      #Checkboxes
        #Showcli
          | Montrer les Cliques : 
          input#showcli(type="checkbox")
        #Showalllinks
          | Montrer tout les Liens : 
          input#showalllink(type="checkbox")
        #ShowallAreas
          | Montrer toutes les Enveloppes :
          input#showallAreas(type="checkbox")
        #ShowAreas
          | Montrer les Enveloppes :
          input#showAreas(type="checkbox")
      #motvedette 
        | MOT VEDETTE :
        input#word(type="text" value= word)
      
    canvas#canvas
    script(type="text/javascript" src="espsem.js")
