body{
	margin: 0;
	padding: 0;
}



#canvas{
	position: absolute;
	left:26%;
	top: 15%;
	padding: 0;
	margin: 0;

}

#ui{
	position: absolute;
	width: 75%;
	height: 14%;
	left: 25%;
	top:0;
	padding: 0;
	margin: 0;
	border-bottom: 3px solid black;
	border-left: 1px solid;
}
#Select{
	position: absolute;
	left: 58%;
	width: 25%;
	height: 90%;
	top:5%;
}
#SelectXAxis{
	position: absolute;
	top:0%;
	right:0%;
	padding-right: 25%;
}
#SelectYAxis{
	position: absolute;
	top:33%;
	right:0%;
	padding-right: 25%;
}

#SelectTool{
	position: absolute;
	right: 0;
	top:66%;
	padding-right: 25%;
}

#Checkboxes{
	position: absolute;
	width: 25%;
	height: 90%;
	left: 0%;
	top:10%;
}

#ShowAreas{
	position: absolute;
	top:0%;
	right: 0%;
	padding-right: 25%;
}
#Showcli{
	position: absolute;
	top:25%;
	right: 0%;
	padding-right: 25%;
}

#Showalllinks{
	position: absolute;
	top:50%;
	right: 0%;
	padding-right: 25%;
}
#ShowallAreas{
	position: absolute;
	top:75%;
	right: 0%;
	padding-right: 25%;
}




#motvedette{
	position: absolute;
	width: 33%;
	height: 90%;
	left: 25%;
	top:5%;
	font-size: 1.3em;
	border: 1px solid gray;
	text-align: center;
	
}
#word{

	position: absolute;
	width: 80%;
	height: 50%;
	left: 10%;
	bottom:12%;
	font-size: 2em;
	text-align: center;
}


#lists{
	position: absolute;
	width: 25%;
	height: 100%;
	top:0;
	padding: 0;
	margin: 0;
	border-right: 3px solid;

}
#syns{
	position: absolute;
	top:0;
	height: 100%;
	width: 35%;
	left: 0;
}
#cliques{
	position: absolute;
	top:0;
	height: 100%;
	width: 65%;
	right: 0;
}

.syn{
	position: relative;
	padding-top: 5px;
	width: 100%;
	text-align: center;
	}

.clique{
	position: relative;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	border-top: 0px;
	border-bottom: 1px;
	border-right: 0;
	border-left: 0;
	border-style: solid;
}

.syn>input{
	position: relative;
	left:10%;
}
.syn>span{
	position: relative;
	
}

#synlist{
	overflow-y: scroll;
	position: absolute;
	top: 14%;
	width: 100%;
	max-height: 86%;
	left: 0;
	border-top: 1px;
	border-right: 1px;
	border-left: 0;
	border-bottom: 0px;
	border-style: solid;
}

#syntitle{
	position: absolute;
	width: 100%;
	height: 14%;
	text-align: center;
	border-right: 1px solid;


}

#clilist{
	overflow-y: scroll;
	position: relative;
	width: 100%;
	max-height: 86%;
	left: 0;
	border-top: 1px;
	border-right: 1px;
	border-left: 0;
	border-bottom: 0px;
	border-style: solid;
}

#clititle{
	position: relative;
	width: 100%;
	height: 14%;
	text-align: center;

}

#clispan{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 25%;
	font-size: 2em;
}

p{
	position: absolute;
	width: 100%;
	bottom: 50%;
	text-align: center;
	margin: 0;
	padding-top: 10%;
}

#help{
	position: fixed;
	top : 10%;
	right : 10%;
	width: 80%;
	text-align: center;
	height: 80%;
	font-size: 2em;
	visibility: hidden;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: black;
}

#helpbutton{
	visibility: hidden;
}

#centerview{
	position: absolute;
	bottom : 50%;
	right : 10%;
}


